
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login System</title>

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

  {% block content %}
    {# Template inserted here #}
  {% endblock %}

  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/scripts.js"></script>

</body>
</html>