{% extends "base.html" %}

{% block content %}
  <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Get URL Story</h1>

      <form name="geturl_form" method="POST" action="/">

        <label for="name">Url</label>
        <input type="text" name="url" class="field" required>

        <input type="submit" value="GET" class="btn">

      </form>

    </div>

  </div>
{% endblock %}